* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: #000000;
    color: #fff;
    height: 80px;
}

.logo {
    float: left;
    padding-top: 20px         ;
}

.menu {
    float: right;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    float: left;
    padding: 15px;
    font-size: 24px;
    font-weight: 700;
}

.container {
    width: 80%;
    margin: auto;
}
.start{
    text-align: center;
    background-color: green;
    padding: 150px 0;
    color: #fff;
}
.start h1{

font-size: 42px;
}
.start p{
    font-size: 24px;
    margin-top: 20px;
}
.port-item{
    width: 33.333%;
    float: left;
    padding: 15px;
}
.port-item img{
    width: 100%;
}

.portfolio .top{
    text-align: center;
}